var MainScreen = React.createClass({
  render: function() {
    return (
      <div className='main-screen-container'>
        <header className='top-header'>
          <img src={"<%= asset_url('logo.png')%>"} />
          <p className='how-it-works underline'> How it works </p>
        </header>
      </div>
    );
  }
});
